{% extends 'templates/base.html' %}

{% block title %}{{ hostname }}{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/msgs.css">
    <style media="screen" type="text/css">
      #details {
        display: none;
      }
      code {
        margin-left: 0.1em;
        margin-right: 0.1em;
        letter-spacing: 0.05em;
        color: #800080;
      }
      a code {
        color: #FFFFFF;
      }
      .active {
        opacity: 0.3;
      }
    </style>
    <script type="text/javascript">
      $(document).ready(function(){
        $('.help').click(function(){
          if ($('.help').hasClass('active')) {
            $('.help').removeClass('active')
          }
          else {
            $('.help').addClass('active')
          }
          $("#sites").toggle();
          $("#details").fadeToggle();
        });
      });
    </script>
{% endblock %}

{% block container %}
      <div>
        <h2>{{ hostname }}</h2>
        <p>Welcome to your container powered webserver!</p>
      </div>
{% if hostsoutdated %}
      <div class="msg error">
        <strong>Your <code>/etc/hosts</code> file is outdated, please run <code>./server --update-hosts</code>!&nbsp;</strong>
        <a class="help btn smooth btn-c btn-sm" href="#"><b>help</b></a>
      </div>
{% endif %}
      <div id="sites">
        <p>
{% for vhost in vhosts %}{% if vhost.tool %}
          <a class="btn smooth btn-a" href="http://{{ vhost.domain }}/" target="_blank">{{ vhost.name }}</a>&nbsp;
{% else %}
          <a class="btn smooth" href="http://{{ vhost.domain }}/" target="_blank">{{ vhost.name }}</a>&nbsp;
{% endif %}{% endfor %}
        </p>
      </div>
      <div id="buttons">
        <p>
          <a class="help btn smooth btn-b btn-sm" href="#"><b>help</b></a>
          <a class="btn smooth btn-a btn-sm" href="/php" target="_blank">PHP info</a>
{% for logfile in logfiles %}
          <a class="btn smooth btn-a btn-sm" href="/{{ logfile.name }}" target="_blank"><code>{{ logfile.name }}</code></a>
{% endfor %}
        </p>
      </div>
      <div id="details">
        <div>
          <h3>How it works</h3>
          <p>
            From the projects inside the <code>www/</code> directory, domain names are automatically derived by appending <code>.loc</code> to them. For instance, a directory <code>mysite</code> will be made available at <code>http://mysite.loc/</code>. The first time you visit a domain like that, a vhost file gets automatically written and Apache gets reconfigured while you wait.
          </p>
          <p>
            The only manual step required in this process is for you to update your <code>/etc/hosts</code> each time you add a new project. You can <i>very easily</i> update your hosts file by running <code>./server --update-hosts</code>. This will append or just replace a previously generated stanza, but it will not touch anything else in your hosts file:
          </p>
          <div class="msg grey">
            <pre>$ ./server --update-hosts
LXC and this script require root-level privileges in order to manage
your containers and /var/lib/lxc, please provide your biggest secret below.

[sudo] password for {{ lxc.user }}:
Successfully replaced the old hosts in /etc/hosts!

# update-etc-hosts - DO NOT TOUCH THIS SECTION! #############
{{ lxc.ipv4_address }} adminer.loc opcode-cache.loc
# /update-etc-hosts #########################################</pre>
          </div>
          <p>
            But if that isn't your thing, you can copy-paste these auto-generated lines yourself. By also including the start- and end markers, you leave yourself the ability open to still use <code>./server --update-hosts</code> at a later point.
          </p>
          <div class="msg grey">
            <pre>
# update-etc-hosts - DO NOT TOUCH THIS SECTION! #############
{% for vhost in vhosts %}
{{ lxc.ipv4_address }}        {{ vhost.domain }}
{% endfor %}
# /update-etc-hosts #########################################
            </pre>
          </div>
        </div>
        <div>
          <h4>Help, my project doesn't get picked up!</h4>
          <p>The automatic configuration assumes that your projects reside as directories in the <code>www/</code> directory. The name of the directory should automatically pop up on this page, and once you updated <code>/etc/hosts</code>, the automatic configuration should make it all work.</p>
          <p>Alternatively, you can also make symbolic links from the <code>www/</code> directory to another location where your real sources live. It is however <strong>important</strong> that the symbolic links resolve to a path underneath <code>{{ lxc.home }}</code> and that the files are still owned by <code>{{ lxc.user }}</code>. When this isn't the case, it will likely not work and result in showing this page again.</p>
        </div>
        <div>
          <h4>Different projects directory?</h4>
          <p>Instead of the <code>www/</code> directory, you can mount your own projects directory as long as your user owns the files and <code>www/default/</code> gets copied over to the new location (it contains part of the magic). After picking a new location for your source code, shut down your container with <code>halt -p</code> and edit <code>config.ini</code> for every container you use. In each <code>[bindmounts]</code> section, you will need to change the source location to a path on your host machine:</p>
          <pre>/path/to/my/projects/on/host = /var/www</pre>
          <p>That's it, you can now start your container again!</p>
        </div>
      </div>
{% endblock %}
